@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("http://fonts.googleapis.com/css?family=Bubblegum+Sans");
@import url("http://fonts.googleapis.com/css?family=Lobster+Two:400,700");

// $headings-font-family: "Bubblegum Sans";
$headings-font-family: "Lobster Two";
$font-size-base: 18px;
$link-color: darken(#BCB1E8, 10%);

$purple: darken(#BCB1E8, 10%);

body {
  background: repeating-linear-gradient(-45deg, #A5DCDA, #A5DCDA 10px, $purple 20px, #EDBFD8 30px);
  font-weight: 300;
}

.wrapper {
  background-color: #fff;
  margin: 10px;
  padding: 30px 0 130px;
  text-align: center;
}

#poem {
  color: #666;
  line-height: 1.4;
  font-family: "Bubblegum sans";
  font-weight: 400;
}

.main-title {
  color: darken(#A5DCDA, 6%) !important;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 0 #777; //$purple;
}

.title {
  color: darken(#A5DCDA, 20%);
  font-family: "Lobster Two";
}

.map-link {
  font-size: 14px;
  text-transform: uppercase;
}

.btn-rsvp {
  background-color: transparent;
  border: 3px solid #fff !important;
  color: #fff;
  font-size: 32px !important;
  font-weight: 600 !important;
  letter-spacing: 5px;
  margin: 20px 0 !important;
  padding: 12px 24px;
  text-transform: uppercase;
  width: 180px;

  &:hover, &:active, &:focus {
    background-color: transparent !important;
    color: lighten($purple, 25%) !important;
    border-color: lighten($purple, 25%) !important;
  }
}

.map {
  border: 6px solid rgba(154, 138, 220, .1);
  background-color: rgba(154, 138, 220, .5);
  border-bottom-width: 1px;
  border-radius: 6px;
  display: inline-block !important;
  overflow: hidden;
}

.rsvp {
  background-color: rgba(188, 177, 232, 1);
  bottom: 0;
  height: 100px;
  left: 0;
  position: fixed;
  right: 0;
}

.footer {
  margin-top: 40px;

  a {
    font-size: 13px;
    font-weight: 400;
  }
}